.home__tiles {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home__tile {
    width: calc(40% - (40px / 3));
}

.home__loader {
    background-color: rgba(255,255,255,.05);
    padding: 40px;
}

.home__spinner {
    margin: 0 auto;
}