.home__tiles {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home__tile {
    width: calc(50% - 10px);
}

.home__loader {
    position: relative;
    background-color: rgba(255, 255, 255, .05);
    padding-bottom: 56.25%;
}

.home__spinner {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.home__failed {
    background-color:rgba(255,255,255,.05);
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color:white;
}

@media (max-width: 1000px) {
    .home__tiles {
        flex-direction: column;
    }
    .home__tile {
        width: 100%;
    }
}