.home__columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home__column {
    width: calc(50% - 20px);
}

.home__loader {
    position: relative;
    background-color: rgba(255, 255, 255, .05);
    padding-bottom: 56.25%;
}

.home__spinner {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.home__failed {
    background-color: rgba(255, 255, 255, .05);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.home__about {
    margin-bottom: 60px;
}

.home__skills h3 {
    color: white;
    font-weight: bold;
    margin: 20px 0;
}

.home__skills h2, .home__about h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.home__about p {
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
    text-align: justify;
    line-height: 1.4em;
}

.home__tiles {
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .home__columns {
        flex-direction: column;
    }
    .home__column {
        width: 100%;
    }
}