.blog--loading {
    padding-top: calc(218px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 218px);
    color: white;
}

.blog__lonely {
    margin-top: 12px;
    margin-bottom: 20px;
}