.blog-post--loading {
    padding-top: calc(218px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 218px);
    color: #ffffff;
}

.blog-post__tags {
    margin-bottom: 0;
}

.blog-post__share {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-post__share-item {
    padding: 8px !important;
    background-color: rgba(255,255,255,.1) !important;
    margin-right: 8px;
}

.blog-post__share-item:hover {
    background-color: rgb(255,255,255,.3) !important;
}
