.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 600px;
    z-index: -1;
    overflow: hidden;
}

.background canvas {
    height: 100%;
    width: 100%;
}

.background__scrim {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(transparent, rgb(20,20,20));
    z-index: 2;
}