.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 600px;
    z-index: -1;
    overflow: hidden;
}

.background__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background__blob {
    transition: fill 4s;
    transform-origin: center;
}

.background__scrim {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(transparent, rgba(20,20,20,.4), rgb(20,20,20));
    z-index: 2;
}